<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{user/fragments/template}"
	>
<head>
	<title>내정보</title>
</head>
<div layout:fragment="content">
	<form th:method="put" th:action="@{ /user/users/{id}(id=${userInfo.id}) }">
		<input type="hidden" name="user_id" th:value="${ userInfo.id }">
		
		<div class="form-group">
		    <label>이름</label><br>
		    <label th:text="${ userInfo.name }"></label><br>
	  	</div>
		<div class="form-group">
			<label >사번</label><br>
		    <label th:text="${ userInfo.number }"></label><br>
		</div>
		<div class="form-group">
			<label >이메일</label><br>
		    <label th:text="${ userInfo.email }"></label><br>
		</div>
	    <div class="form-group">
	    	<label>비밀번호</label><br>
			<input type="password" class="form-control" name="password">
		</div>
	    <div class="form-group">
	    	<label>비밀번호 확인</label><br>
			<input type="password" class="form-control" name="password_confirm">
		</div>
		<div class="form-group">
		    <label>연락처</label><br>
			<input type="text" class="form-control" name="phone" th:value="${ userInfo.phone }">
	  	</div>
		<div class="form-group">
		    <label for="birthday">생년월일(YYYYMMDD)</label><br>
		    <input id="birthday" name="birthday" readonly="readonly">
		</div>
				
		<button type="submit" class="btn btn-primary">수정</button>
	</form>
	<script>
		var param = "[[${errorResult}]]";
		if(param == -1) {
			alert('비밀번호가 일치하지 않습니다.');
		}	
		if(param == -2) {
			alert('비밀번호를 입력해주세요.');
		}	
		
		var birthdayInput = document.getElementById('birthday');
		var picker = new Lightpick({
		    field: birthdayInput,
		    format: "YYYYMMDD"
		});
		birthdayInput.value = "[[${userInfo.birthday}]]";
	</script>
</div>
</html>