<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="main-header" th:fragment="headerFragment">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" th:href="@{/admin/books}">Bookgle</a>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li>
	        <a class="nav-link" th:href="@{/admin/books}">도서관리</a>
	      </li>
	      <li>
	        <a class="nav-link" th:href="@{/admin/users}">사용자관리</a>
	      </li>
	      <li>
	        <a class="nav-link" th:href="@{/admin/lends}">대여관리</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</header>